@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.titleGaleria {
    font-size: clamp(2rem, 5vw, 7rem);
    text-align: center;
    justify-content: center;
    font-weight: 100;
}

.subTitleGallery {
    font-size: clamp(1rem, 1vw, 2rem);
    text-align: justify;
    font-family: inter, sans-serif;
    width: 57%;
}

/* ------------------ seção about ------------------ */
#about {
    width: 100%;
    min-height: 100vh;
    padding: 7rem 1.25rem;
    margin: 0 auto;
    max-width: 1280px;
}


/* ---------------- content ---------------- */
#about .content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem;
}


#about .content h2 {
    font-size: 3rem;
    line-height: 1;
    max-width: 32rem;
    font-family: 'Modern Negra', sans-serif;
}


/* ---------------- sub-content ---------------- */
#about .content .sub-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}


#about .content .sub-content p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

#about .content .sub-content div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}



#about .content .sub-content div span {
    color: #FFD700;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
}

/* ---------------- badge ---------------- */
#about .badge {
    display: inline-block;
    border-radius: 9999px;
    background-color: #ffffff;
    color: #000000;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

/* ---------------- grid system ---------------- */
.top-grid,
.bottom-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 0 1.25rem;
}

.top-grid>div,
.bottom-grid>div {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 28rem;
    position: relative;
}

.top-grid img,
.bottom-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.sectionGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    /* espaço entre galerias */
    margin: 0 auto;
}

.top-grid,
.bottom-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem;
    /* gap-5 */
    margin-bottom: 1.25rem;
}

.top-grid>div,
.bottom-grid>div {
    border-radius: 1.5rem;
    /* rounded-3xl */
    overflow: hidden;
    height: 20rem;
    position: relative;
}

.top-grid img,
.bottom-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.filter-nav {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 15px 0;
    margin-bottom: 30px;

    /* Estilo clean */
    border-bottom: 1px solid #e3dad4;
}

.filter-btn {
    padding: 8px 18px;
    background: #f0e8e3;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    color: #614238;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s ease;
    backdrop-filter: blur(4px);
}

.filter-btn:hover {
    background: #e6d6ce;
}

.filter-btn.active {
    background: #614238;
    color: white;
}

.GalleryFilterNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.GalleryFilterNav button {
    padding: 4px 18px;
    border-radius: 6px;
    background: transparent;
    border: 2px solid #614238;
    color: #614238;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.GalleryFilterNav button:hover {
    background: #614238;
    color: white;
}

.GalleryFilterNav button.active {
    background: #614238;
    color: white;
}

.dynamic-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}







/* =======================
   MODAL OVERLAY
======================= */
.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: #614238;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    /* evita piscar */
    pointer-events: none;
    /* evita bloquear a tela */
}


.modal-overlay.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

/* =======================
   MODAL CONTENT
======================= */
.modal-contentGallery {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* animação suave caso gsap pare no meio */
    opacity: 1;
    transform: scale(1);
}

/* =======================
   MODAL IMAGE
======================= */
.modal-image {
    max-width: 100%;
    max-height: 500px;
    border-radius: 12px;
    object-fit: contain;

    transition: opacity 0.3s ease;
    opacity: 1;

    box-shadow: 0px 50px 40px 29px #422d26;
    font-family: "Cormorant Garamond", serif;
}

.modal-image.fade-in {
    opacity: 1;
}

.modal-image.fade-out {
    opacity: 0;
}

.left {
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 50%;
    border: none;
    margin-left: -120%;
    color: white;
    width: 50px;
    height: 50px;
    position: absolute;
}

.right {
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 50%;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 120%;
    position: absolute;
}

.modal-close {
    position: fixed;
    margin-top: -600px;
    margin-left: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.082);
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.modal-label {
    position: fixed;
    margin-top: -100%;
    left: -20%;
    color: #FDF4D9;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    z-index: 10;
    font-size: clamp(1rem, 2vw, 5rem);
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.top-grid:hover {
    cursor: pointer;
}

.bottom-grid:hover {
    cursor: pointer;
}

.modal-label {
    text-transform: capitalize;
}


.pagination-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 30px;
}

.pagination-dots {
    display: flex;
    gap: 8px;
    padding: 10px 40px;
    /* deixa espaço para o fade */
    overflow-x: auto;
    /* permite rolar se tiver muitos */
    scrollbar-width: none;
    /* tira scroll no Firefox */
}

.pagination-dots::-webkit-scrollbar {
    display: none;
    /* tira scroll no Chrome */
}

/* Traços */
.dot {
    width: 22px;
    height: 4px;
    background: #ffffff40;
    border-radius: 2px;
    transition: 0.25s ease;
    flex-shrink: 0;
}

/* Traço ativo */
.dot.active {
    width: 40px;
    background: #fff;
}

/* ====== FADES nas pontas (AJUSTADO PARA SUA COR #614238) ======= */

.pagination-wrapper::before,
.pagination-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    pointer-events: none;
}



.loading-container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid #e0e0e0;
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
