/* .container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
} */

/* .area-model{
  height: 500px;
  width: 100%;
  background: #b4b4b4;
  margin-bottom: 16px;
} */

/* Area Relogio */
/* .items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 46px 0px;
  background-color: #ebebeb;
  border-radius: 8px;
  padding: 24px;
} */

/* .items-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .relogio{
  width: 100%;
  max-width: 400px;
  transform: translateX(-700px) rotate(180deg);
  opacity: 0;

} */


/* Area Modelos relogios */
/* .models-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 56px 16px;
  padding: 24px;
} */

/* .models-content{
  margin: 36px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .models-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
} */

/* .models-item img {
  max-width: 300px;
  margin-bottom: 16px;
} */

/* 
.models-tag{
  color: #DA5404;
}

.models-title{
  font-size: 24px;
} */

/* TESTE AREA */
/* .teste-area{
  margin: 400px 0;
} */

/* .items-content { */
/* position: relative; container relativo */
/* width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .relogio { */
/* position: fixed;  fixo na tela */
/* top: 50%;         começa no meio vertical */
/* left: 50%;        começa no meio horizontal */
/* transform: translate(-50%, -50%); centraliza */
/* width: 100%; */
/* max-width: 400px; */
/* } */










/* A tela inteira teste1 */
/* body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #6b1919;
  overflow: hidden;
} */

/* Container principal centralizado */
/* .container { */
  /* display: flex; */
  /* flex-direction: column; */
  /* empilha os elementos verticalmente */
  /* justify-content: center; */
  /* centraliza vertical */
  /* align-items: center; */
  /* centraliza horizontal */
  /* height: 100vh; */
  /* ocupa toda altura da tela */
/* } */


/* .divNike {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.tenisNike {
  width: 50%;
  transform: rotate(-15deg);
  margin-top: 50px;
  z-index: 1000000;
  margin-bottom: 50px;
} */

/* Sombra principal */
/* .sombra {
  position: absolute;
  margin-top: 8%;
  left: 52%;
  transform: translateX(-50%);
  width: 200px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  filter: blur(20px);
  z-index: 1000;
  border-radius: 50%;
} */


/* .alinhar {
  display: block;
  justify-content: center;
  align-items: center;
} */

/* .centr {
  position: relative;
  width: 450px;
  height: 400px; */
  /* remover background do elemento principal */
  /* background: transparent;
  margin-top: -200px;
  z-index: 2;
} */

/* camada da "borda" (maior) */
/* .centr::before { */
  /* content: ""; */
  /* position: absolute; */
  /* top: -5px; */
  /* a "espessura" da borda */
  /* left: -5px;
  right: -5px;
  bottom: -5px;
  clip-path: polygon(50% 30%,
      0% 50%,
      50% 70%,
      100% 50%); */
  /* background: rgb(124, 2, 2); */
  /* cor da borda */
  /* z-index: 0;
  pointer-events: none;
} */

/* camada do "preenchimento" (tamanho original) */
/* .centr::after { */
  /* content: ""; */
  /* position: absolute; */
  /* inset: 0; */
  /* top:0; right:0; bottom:0; left:0; */
  /* clip-path: polygon(50% 30%,
      0% 50%,
      50% 70%,
      100% 50%); */
  /* background: rgb(151, 61, 61); */
  /* cor interna */
  /* z-index: 1;
  pointer-events: none;
} */


/* .esque {
  width: 610px;
  height: 317px;
  background-color: red;
  clip-path: polygon(50% 0%, 0% 6000%, 265% 100%);
  margin-top: -200px;
  margin-left: -235px;
  border: 1px solid rgb(117, 17, 17);
  z-index: 2;
}

.dire {
  width: 600px;
  height: 317px;
  background-color: rgb(114, 2, 2);
  clip-path: polygon(50% 0%, 0% 6000%, 265% 100%);
  margin-top: -200px;
  transform: scaleX(-1);
  z-index: 2;

}

.coluna {
  display: flex;
}

.bloco {
  margin-left: 30%;
}

.name {
  position: absolute;
  margin-top: -250px;
  z-index: 2;

}

.name p {
  font-size: 500px;
  color: white;
  font-weight: bold;
  text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.7);
  transform: scaleY(0.6);
  transform-origin: top;
  margin-top: 200px;
  z-index: 2;

} */

/* 
.planoDeFundo {
  background-image: url("./assets//nike.png");
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  top: 0;
} */
 
