@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

:root {
  --cor-principal: #713A11;
  --cor-principal--hover: #713b11e8;
  --branco: rgb(236, 233, 233);
  --amarelo: #FDF7D7;
  --amareloClaro: #fcf1d1d0;
  --btn-cor: #C74700;
}

a{
  text-decoration: none;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}