@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  background-color: #000000;
  overflow-x: hidden;
  color: white;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.border {
  border: 1px solid red;
}