/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--amareloClaro);
}

:root {
  --cor-principal: #713A11;
  --cor-principal--hover: #713b11e8;
  --branco: rgb(248, 246, 246);
  --amarelo: #FDF7D7;
  --amareloClaro: #fcf1d1d0;
  --btn-cor: #C74700;
}

a{
  text-decoration: none;
  list-style: none;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
} */




@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--amareloClaro);
  color: #614238;
}

:root {
  --cor-principal: #713A11;
  --cor-principal--hover: #713b11e8;
  --branco: rgb(248, 246, 246);
  --amarelo: #FDF7D7;
  --amareloClaro: #fcf1d1d0;  
  /* --amareloClaro: #F4E5C3; */
  --btn-cor: #C74700;
}

a {
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

















/* body {
  width: 100%;
  overflow-x: hidden;
  font-family: "DM Serif Text", serif;
  background-image: url("./assets/planodeFundo.png");
  background-size: cover;
  background-position: center;
  position: relative;
}


body::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.7) 0%,   
    rgba(0,0,0,0.3) 40%,  
    rgba(0,0,0,0) 100%   
  );

  backdrop-filter: blur(4px); 
  pointer-events: none;       
  z-index: 1;
}
 */