.sobrePai {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F0DD;
    margin-bottom: 200px;
}

.titleImg {
    display: flex;
    align-items: center;
    gap: 20%;
    width: 90%;
}

.imgSobre {
    width: 1000px;
}

.titleAbout {
    font-size: clamp(2rem, 4vw, 8rem);
    color: var(--cor-principal);
    margin-bottom: 50px;
}

.alinhar {
    display: flex;
    width: 80%;
    gap: 5%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textAboutP {
    text-align: justify;
    color: var(--cor-principal);
    font-size: clamp(1rem, 1.2vw, 3rem);

}

.sobrePai{
    opacity: 0;
}