.pfMenu {
  background-color: var(--amarelo);
  width: 100%;
  text-align: center;
  height: auto;
  padding: 2rem 1rem;
  color: var(--cor-principal);
}

.titleMenu {
  font-size: clamp(2rem, 5vw, 7rem);
  margin-top: 5%;
}

.pMenu {
  font-size: clamp(1rem, 1.6vw, 2rem);
  margin-bottom: 20px;
}

.mineNav {
  display: flex;
  flex-wrap: wrap; /* permite quebrar linha no mobile */
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px; /* espaçamento entre itens */
  color: var(--branco);
  margin: 0 auto;
  max-width: 90%;
}

.mineNav p {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  background-color: var(--cor-principal);
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.mineNav p:hover {
  cursor: pointer;
  background-color: var(--cor-principal--hover);
}

.pI {
  border-top-left-radius: 20px;
}

.pF {
  border-top-right-radius: 20px;
}

.icons {
  width: 20px;
  margin-left: 10px;
  filter: brightness(0) saturate(100%) invert(15%) sepia(85%) saturate(4000%) hue-rotate(5deg) brightness(90%) contrast(95%);
  transition: filter 0.3s ease;
}

.icons:hover {
  filter: brightness(0) saturate(100%) invert(40%) sepia(96%) saturate(3000%) hue-rotate(200deg) brightness(95%) contrast(90%);
}

