.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}



.cardDados {
    background-color: var(--amarelo);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: transform 0.3s ease;
    flex: 0 1 calc(22% - 20px);
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardDados:hover {
    cursor: pointer;
}


.cardsCoffe {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    box-shadow: none;
    margin: 0;
}

.corCard-valores {
    padding: 16px;
    width: 100%;
}

.nameCafe {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--cor-principal);
}

.descCafe {
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--cor-principal);
}

.preco {
    font-size: 0.95rem;
    font-weight: 600;
    font-weight: bold;
    color: var(--cor-principal);
}

.btnCard {
    display: inline-block;
    background: var(--btn-cor);
    color: var(--branco);
    padding: 8px 14px;
    border-radius: 8px;
    margin-top: 12px;
    font-size: 0.9rem;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
}

.btnCard:hover {
    background: var(--cor-principal);
}


.modal-overlay {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: absolute;
    transform: translate(-50%, -50%);
}


.modal-content {
    background-color: var(--branco);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    color: var(--cor-principal);
    font-weight: 500;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.modal-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.btnClose {
    background-color: var(--btn-cor);
    padding: 5px 10px;
    color: var(--branco);
    border: none;
    border-radius: 5px;
}

.btnClose:hover {
    cursor: pointer;
}