.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.cardDados {
    background-color: var(--amarelo);
    height: 400px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    flex: 0 1 calc(22% - 20px);
    margin-top: 80px;
}

.cardsCoffe {
    width: 40%;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: -30px 20px 10px rgba(0, 0, 0, 0.7);
}

.nameCafe {
    color: var(--cor-principal);
    font-weight: bold;
    margin-top: 25px;
}

.descCafe {
    color: var(--cor-principal);
    font-size: 15px;
    margin-top: 20px;
    width: 80%;
}

.btnCard {
    background-color: var(--btn-cor);
    color: var(--branco);
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    font-size: clamp(0.8rem, 1vw, 3rem);
}

.btnCard:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    transition: ease-in-out 0.4s;
}