.sectionContact {
    margin-top: 100px;
}

.titleContact {
    font-size: clamp(2rem, 4vw, 5rem);
    font-weight: 100;
}

.subTitleContact {
    font-size: clamp(1rem, 1.1vw, 3rem);
    color: #8C6C5F;
    font-family: inter, sans-serif;
}

.fechar {
    display: inline-block;
    background-color: #614238;
    color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
}

.fechar:hover {
    background-color: #614238e1;
    cursor: pointer;
    box-shadow: 5px 5px 15px #614238e1;
    transition: ease-in-out 0.3s;
}

.formContacts {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 100px;
}

.formContactsAlinhar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.service-iconContact {
    width: 20px;
}

.icons {
    width: 20px;
}

.divIcons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    flex-wrap: wrap;
}

.divIcons a {
    color: #8C6C5F;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: clamp(0.8rem, 1vw, 2rem);
    gap: 10px;
    font-family: inter, sans-serif;
}