.footer {
  display: flex;
  justify-content: center;
  background: transparent;
  color: var(--branco);
  padding: 2rem 1.5rem;
  margin-top: -100px;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.footer>div {
  width: 50%;
  border-style: solid;
  border-color: #614238af;
  border-width: 1px 0px 0px 0px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 50px;
  margin-top: 20px;
}

.footer-logo h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #614238;
}

.footer-logo p {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--amareloClaro);
  color: #614238;
  font-weight: bold;
}

.footer-social h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: #614238;
}


.footer-social .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--amareloClaro);
  color: var(--cor-principal);
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: #8C6C5F;
;
}

.footer-social a:hover {
  background: #614238;
  color: var(--branco);
}

.footer-copy {
  border-top: 1px solid var(--amareloClaro);
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: #614238;
}

.footer-link {
  border: none;
  background-color: transparent;
  color: var(--branco);
  text-decoration: underline;
}

.footer-link:hover {
  color: var(--btn-cor);
}