.footer {
  background: var(--cor-principal);
  color: var(--branco);
  padding: 2rem 1.5rem;
  margin-top: 100px;
}

.footer-container {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.footer-logo h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--amarelo);
}

.footer-logo p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: var(--amareloClaro);
}

.footer-menu h2,
.footer-social h2 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--amarelo);
  margin-bottom: 0.8rem;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2%;
  text-decoration:underline ;
}

.footer-menu li {
  margin: 0.5rem 0;
}

.footer-menu a {
  color: var(--branco);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-menu a:hover {
  color: var(--btn-cor);
}

.footer-social .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--amareloClaro);
  color: var(--cor-principal);
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.footer-social a:hover {
  background: var(--btn-cor);
  color: var(--branco);
}

.footer-copy {
  border-top: 1px solid var(--amareloClaro);
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--amareloClaro);
}

/* Responsividade */
@media (min-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    align-items: center;
  }

  .footer-social .social-icons {
    justify-content: flex-start;
  }
}

.footer-link{
  border: none;
  background-color: transparent;
  color: var(--branco);
  text-decoration: underline;
}

.footer-link:hover{
  color: var(--btn-cor);
}