body {
    background-color: var(--amareloClaro);
}

.tilteGaleria {
    font-size: clamp(2rem, 5vw, 7rem);
    text-align: center;
    justify-content: center;
    color: var(--cor-principal);
}

/* ------------------ seção about ------------------ */
#about {
    width: 100%;
    min-height: 100vh;
    padding: 7rem 1.25rem;
    margin: 0 auto;
    max-width: 1280px;
}


/* ---------------- content ---------------- */
#about .content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem;
}


#about .content h2 {
    font-size: 3rem;
    line-height: 1;
    max-width: 32rem;
    font-family: 'Modern Negra', sans-serif;
}


/* ---------------- sub-content ---------------- */
#about .content .sub-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}


#about .content .sub-content p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

#about .content .sub-content div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}



#about .content .sub-content div span {
    color: #FFD700;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
}

/* ---------------- badge ---------------- */
#about .badge {
    display: inline-block;
    border-radius: 9999px;
    background-color: #ffffff;
    color: #000000;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

/* ---------------- grid system ---------------- */
.top-grid,
.bottom-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 0 1.25rem;
}

.top-grid>div,
.bottom-grid>div {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 28rem;
    position: relative;
}

.top-grid img,
.bottom-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* ---------- noisy effect ---------- */
.noisy {
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(45deg,
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.05) 2px,
            transparent 2px,
            transparent 4px);
    pointer-events: none;
}



.sectionGallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    /* espaço entre galerias */
    margin: 0 auto;
}

.top-grid,
.bottom-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem;
    /* gap-5 */
    margin-bottom: 1.25rem;
}

.top-grid>div,
.bottom-grid>div {
    border-radius: 1.5rem;
    /* rounded-3xl */
    overflow: hidden;
    height: 20rem;
    position: relative;
}

.top-grid img,
.bottom-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
