.titleHome {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: clamp(3rem, 10vw, 15rem);
  color: var(--branco);
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  margin-top: -5%;
}

.paiCabecalho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: var(--cor-principal);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  gap: 20px;
  color: var(--branco);
}

.btn:hover {
  cursor: pointer;
  background-color: #773e1a;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transition: ease-in-out 0.5s;
  width: 0px 300px;
}

.arrow {
  width: 20px;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background 0.3s;
  opacity: 0.5;
}

.arrowLeft,
.arrowRight:hover {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.arrowLeft {
  left: 50px;
  opacity: 0.5;
}

.arrowRight {
  right: 50px;
}