/* ====== TÍTULO ====== */
.titleHome {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: clamp(3rem, 10vw, 15rem);
  color: var(--branco);
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  margin-top: -5%;
  z-index: 2;
  position: relative;
}

/* ====== CONTAINER PRINCIPAL ====== */
.paiCabecalho {
  position: relative; /* Importante para as camadas de imagem */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* ====== CAMADAS DE IMAGEM ====== */
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.bgImage.active {
  opacity: 1;
}

/* ====== BOTÃO ====== */
.btn {
  display: flex;
  justify-content: center;
  background-color: var(--cor-principal);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  gap: 20px;
  color: var(--branco);
  z-index: 2;
  position: relative;
}

.btn:hover {
  cursor: pointer;
  background-color: #773e1a;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transition: ease-in-out 0.5s;
}

/* ====== SETAS ====== */
.arrow {
  width: 20px;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 5;
  transition: opacity 0.3s;
  opacity: 0.5;
}

.arrowLeft:hover,
.arrowRight:hover {
  opacity: 1;
}

.arrowLeft {
  left: 50px;
}

.arrowRight {
  right: 50px;
}
