.paiMenu {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    will-change: transform, opacity;
}

#paiMenu {
    opacity: 1;
}

.bestSellers {
    position: relative;
    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--cor-principal);
    top: 20px;
    margin-bottom: 20px;
    left: 100px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    position: relative;
    background-color: var(--amareloClaro);
    border-radius: 20px;
    margin-top: -100px;
    z-index: 1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.VerMais {
    color: var(--branco);
}

.VerMais {
    position: relative;
    z-index: 1;
    font-size: clamp(1rem, 1.1vw, 3rem);
    margin-top: -10px;
    background-color: var(--btn-cor);
    width: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    margin-bottom: 100px;
    padding: 5px;
}

.VerMais:hover {
    transition: ease-in-out 0.2s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}