/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.6); /* fundo preto semi-transparente */
  backdrop-filter: blur(10px); /* efeito blur */
  -webkit-backdrop-filter: blur(10px); /* suporte Safari */
  padding: 0 200px;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1; /* garante que fique acima de outros elementos */
  top: 0;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: var(--cor-principal);
  /* dourado */
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

.logo {
  width: 5%;
}

.nomeImg {
  display: flex;
  text-align: center;
  gap: 5%;
}