/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000; /* roxo */
  padding: 0 20px;
  height: 60px;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #FFD700; /* dourado */
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
  
  .nav-list {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
  }
  
  .nav-list li {
    margin: 40px 0;
  }
  
  .nav-list.active {
    left: 0;
  }
}


.logo{
    width: 5%;
}

.nomeImg{
    display: flex;
    text-align: center;
    gap: 5%;
}