/* =========================
   NAVBAR
========================= */

/* Responsividade Navbar */
@media (max-width: 768px) {

    .navbar {
        padding: 0 10px;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 40%;
        height: 450px;
        background-color: var(--cor-principal);
        flex-direction: column;
        align-items: center;
        transition: 0.3s;
        border-bottom-right-radius: 15px;
    }

    .nav-list li {
        margin: 25px 0;
    }

    .nav-list.active {
        left: 0;
    }

    .logoName {
        display: none;
    }

    .logoImg {
        width: 60px;
    }
}

@media (max-width: 1024px) {

    .navbar {
        padding: 0 10px;
        display: flex;
        justify-content: space-around;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 40%;
        height: 450px;
        background-color: var(--cor-principal);
        flex-direction: column;
        align-items: center;
        transition: 0.3s;
        border-bottom-right-radius: 15px;
    }

    .nav-list li {
        margin: 25px 0;
    }

    .nav-list.active {
        left: 0;
    }

    .nomeImg {
        margin-left: -200px;
    }

    .logoImg {
        width: 60px;
    }

    .navbar .gallery-back-btn {
        display: flex;
        align-Items: center;
        gap: 10px;
        cursor: pointer;
        font-Size: 1.1rem;
        font-Weight: 500;
        margin-left: -500px;
    }
}


/* =========================
   GALERIA
========================= */


/* ---------------- COL-SPAN SYSTEM ---------------- */
@media (min-width: 768px) {

    .top-grid,
    .bottom-grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .col-span-3 {
        grid-column: span 3 / span 3;
    }

    .col-span-4 {
        grid-column: span 4 / span 4;
    }

    .col-span-6 {
        grid-column: span 6 / span 6;
    }

    .col-span-8 {
        grid-column: span 8 / span 8;
    }
}

/* ---------------- RESPONSIVIDADE MAIOR ---------------- */
@media (min-width: 1024px) {
    #about {
        max-width: 1280px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
}

@media (min-width: 1536px) {
    #about {
        padding-left: 0;
        padding-right: 0;
    }
}

/* ---------------- GRID MOBILE ---------------- */
@media (max-width: 767px) {

    .top-grid>div,
    .bottom-grid>div {
        height: 20rem;
        /* ajusta a altura em telas pequenas */
    }
}



/* =========================
   LOCATION
========================= */

@media (max-width: 768px) {

    .imgs {
        display: block;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .imgTextMap {
        display: flex;
        width: 100%;
        padding: 10px;
    }

    .imgTextCoff {
        display: block;
        width: 100%;
        padding: 10px;
    }

    .imgTextCoff {
        height: 360px;
        margin-bottom: 20px;
    }

    .imgCoffeeShop {
        width: 100%;
    }

}


/* =========================
   HOME PAGE
========================= */

@media (max-width: 1024px) {
    .imgCamera {
        width: 70%;
    }

    .titleHome {
        font-size: clamp(6rem, 6vw, 10rem);
    }

    .Resultados {
        margin-left: 60%;
        font-family: inter, sans-serif;
        font-size: clamp(0.8rem, 0.9vw, 3rem);
    }

    .percent {
        width: 300px;
    }

    .heroSection {
        font-size: clamp(2rem, 4.5vw, 10rem);
        font-weight: bold;
    }

    /* =========================
        HOME PAGE SOBRE MIM
    ========================= */

    .SobreMim {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-top: 50px;
        gap: 50px;
    }

    .SobreMim h2 {
        font-size: clamp(2rem, 7.5vw, 10rem);
        margin-bottom: 30px;
    }

    .SobreMim p {
        font-size: clamp(1.3rem, 1.3vw, 10rem);
        line-height: 1.7;
    }

    .SobreMim .imgSobre {
        width: 400px;
        height: 500px;
        margin-right: 30px;
        object-fit: cover;
        object-position: center;
        display: block;
        overflow: hidden;
    }


    /* ==============================
        HOME PAGE PRÉVIA PORTFÓLIO
    =============================== */

    .titlePort {
        font-size: clamp(2rem, 7.5vw, 10rem);
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .subTitlePort {
        font-size: clamp(1.3rem, 1.3vw, 10rem);
        margin-bottom: 40px;
    }

    .gradeFotos {
        padding: 0px 20px;
    }






    /* ============
        MODAL
    ============= */

    .modal-overlay {
        position: fixed;
        inset: 0;
        background-color: #614238;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        visibility: hidden;
        /* evita piscar */
        pointer-events: none;
        /* evita bloquear a tela */
    }


    .modal-overlay.hidden {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    /* =======================
        MODAL CONTENT
    ======================= */
    .modal-contentGallery {
        position: relative;
        max-width: 90%;
        max-height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        /* animação suave caso gsap pare no meio */
        opacity: 1;
        transform: scale(1);
    }

    /* =======================
        MODAL IMAGE
    ======================= */
    .modal-image {
        max-width: 900px;
        max-height: 900px;
        border-radius: 12px;
        object-fit: contain;

        transition: opacity 0.3s ease;
        opacity: 1;

        box-shadow: 0px 50px 40px 29px #422d26;
        font-family: "Cormorant Garamond", serif;
    }

    .modal-image.fade-in {
        opacity: 1;
    }

    .modal-image.fade-out {
        opacity: 0;
    }

    .left {
        margin-left: -100%;
    }

    .right {
        margin-left: 100%;
    }

    .modal-close {
        position: fixed;
        margin-top: -1000px;
        margin-left: 100%;
        border: none;
        background-color: rgba(255, 255, 255, 0.082);
        color: white;
        padding: 10px;
        border-radius: 50%;
    }

    .modal-label {
        position: fixed;
        margin-top: -1000px;
        left: 20px;
        color: #FDF4D9;
        padding: 6px 12px;
        border-radius: 6px;
        font-size: clamp(2rem, 6vw, 7rem);
        font-family: "Cormorant Garamond", serif;
        font-weight: 400;
        z-index: 999999;
    }

    .subTitleGallery {
        text-align: center;
        width: 70%;
        margin-bottom: 20px;
    }

}


/* =========================
   HOME PAGE MOBILE
========================= */

@media (max-width: 768px) {

    .titleHome {
        font-size: 72px;
    }

    .heroSection {
        margin-left: 150px;
        width: 100%;
        margin-top: -20px;
        font-size: 30px;
        line-height: 1.5;
    }

    .Resultados {
        margin-left: 0px;
        margin-top: 200px;
        font-family: inter, sans-serif;
        font-size: clamp(0.8rem, 0.9vw, 3rem);
        opacity: 0;
    }

    .SobreMim {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .SobreMim .imgSobreMinDiv {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .SobreMim .imgSobre {
        width: 100%;
        padding: 0;
        margin: 0;
    }


    .navbar .gallery-back-btn {
        display: flex;
        align-Items: center;
        gap: 10px;
        cursor: pointer;
        font-Size: 1.1rem;
        font-Weight: 500;
        margin-left: -250px;
    }


    /* ============
        MODAL
    ============= */

    .modal-overlay {
        position: fixed;
        inset: 0;
        background-color: #614238;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        visibility: hidden;
        /* evita piscar */
        pointer-events: none;
        /* evita bloquear a tela */
    }


    .modal-overlay.hidden {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    /* =======================
        MODAL CONTENT
    ======================= */
    .modal-contentGallery {
        position: relative;
        max-width: 90%;
        max-height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        /* animação suave caso gsap pare no meio */
        opacity: 1;
        transform: scale(1);
    }

    /* =======================
        MODAL IMAGE
    ======================= */
    .modal-image {
        max-width: 360px;
    }

    .left {
        margin-left: -80%;
        backdrop-filter: blur(4px) brightness(1.5);
    }


    .right {
        backdrop-filter: blur(4px) brightness(1.5);
        margin-left: 80%;
    }

    .modal-close {
        margin-top: -600px;
        margin-left: 95%;
    }

    .modal-label {
        margin-top: -600px;
        left: -10px;
    }


    .pagination-wrapper {
        left: -20px;
    }
}