/* =========================
   NAVBAR
========================= */

/* Responsividade Navbar */
@media (max-width: 768px) {

    .navbar {
        padding: 0 10px;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 40%;
        height: 450px;
        background-color: var(--cor-principal);
        flex-direction: column;
        align-items: center;
        transition: 0.3s;
        border-bottom-right-radius: 15px;
    }

    .nav-list li {
        margin: 25px 0;
    }

    .nav-list.active {
        left: 0;
    }

    .logoName {
        display: none;
    }

    .logoImg {
        width: 60px;
    }
}

/* =========================
   CARDS E SOBRE
========================= */

/* Responsividade geral */
@media (max-width: 1325px) {
    .alinhar {
        flex-wrap: wrap;
    }

    .imgSobre {
        width: 100%;
    }

    .titleAbout {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

/* Tablet: 2 cards por linha */
@media (max-width: 1024px) {
    .cardDados {
        flex: 0 1 45%;
        /* cada card ocupa ~45% do container */
    }

    .alinhar {
        flex-wrap: wrap;
    }

    .imgSobre {
        width: 100%;
    }

    .titleAbout {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

/* Celular: 1 card por linha */
@media (max-width: 768px) {
    .cardDados {
        flex: 0 1 90%;
        /* ocupa quase toda a largura da tela */
    }
}

/* =========================
   CARDÁPIO
========================= */

/* Responsividade cardápio */
@media (max-width: 768px) {
    .mineNav {
        flex-direction: column;
        gap: 15px;
    }

    .mineNav p {
        width: 100%;
        max-width: 300px;
        font-size: 1rem;
        padding: 12px;
    }

    .icons {
        width: 18px;
        margin-left: 8px;
    }
}

/* =========================
   CARDS DE CAFÉ
========================= */

/* Responsividade cardsCoffee */
@media (max-width: 768px) {
    .cardsCoffe {
        height: 160px;
    }

    .nameCafe {
        font-size: 1rem;
    }

    .descCafe {
        font-size: 0.85rem;
    }
}